<template>
  <div class="cart">
    <div v-if="isProducts">
      <template v-for="product in products">
        <ProductShow :item="product" isCart></ProductShow>
      </template>
    </div>
    <div v-else class="empty-cart">
      <i class="fas fa-shopping-cart cart-icon"></i>
      <p>Корзина пуста</p>
    </div>
  </div>
</template>

<script>
import ProductShow from "./ProductShow.vue";
export default {
  name: "Cart",
  components: {
    ProductShow,
  },
  data() {
    return {
      products: [],
      isCart: true,
      isProducts: false,
    };
  },
  mounted() {
    this.products = this.$store.getters.getCart;
    this.isProducts = this.products.length > 0;
  },
  methods: {},
};
</script>

<style scoped>
.cart {
  text-align: center;
}

.product {
  margin-bottom: 20px;
}

.empty-cart {
  margin-top: 50px;
}

.cart-icon {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #555;
}
</style>
