<template>
  <div class="product-image">
    <img v-bind:src="item.src" />
  </div>
  <div>
    <h4 class="product-title">
      <router-link v-bind:to="'/product/' + item.id">
        {{ item.item }}
      </router-link>
    </h4>
    <label>{{ item.price }}</label>

    <button v-if="!isCart" class="btn" @click="addToCart(item)">
      Add to cart
    </button>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "ProductShow",
  props: {
    item: {
      type: Object,
      require: true,
    },
    isCart: {
      type: Boolean,
      require: true,
    },
  },
  methods: {
    addToCart(item) {
      this.$store.commit("setCart", item);
      console.log(this.$store.getters.getCart);
    },
  },
});
</script>

<style scoped>
.product-image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.product-image img {
  width: 100%;
  border-radius: 4px;
}

.product-title {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.product-title a {
  text-decoration: none;
  color: #333;
}

.product-title a:hover {
  text-decoration: underline;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
</style>
