<template>
  <div class="products">
    <form class="searchbar">
      <input placeholder="Пошук" v-model="search" />
      <button type="submit" class="btn">Search</button>
    </form>
    <router-link to="/cart" class="cart-link">
      <i class="fa fa-shopping-cart"></i> Кошик
    </router-link>
    <div class="product-list">
      <div class="product" v-for="item in filteredItems" :key="item.id">
        <ProductShow :item="item" :isCart="isCart"></ProductShow>
      </div>
    </div>
  </div>
</template>

<script>
import products from "../data/products.js";
import ProductShow from "./ProductShow.vue";
export default {
  data: function () {
    return {
      items: [],
      search: "",
      searchResult: [],
      isCart: false,
    };
  },
  components: {
    ProductShow,
  },
  mounted: function () {
    this.items = products;
  },
  computed: {
    filteredItems: function () {
      console.log(this);
      if (!this.search) {
        return this.items;
      }
      return this.items.filter((element) => {
        return element.item.toUpperCase().includes(this.search.toUpperCase());
      });
    },
  },
};
</script>

<style>
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
}

.searchbar input {
  border: none;
  padding: 8px;
  font-size: 16px;
  outline: none;
  width: 80%;
  border-radius: 4px;
}

.searchbar button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.searchbar button:hover {
  background-color: #45a049;
}
.products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-link i.fa-shopping-cart {
  margin-right: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  width: calc(33.333% - 20px);
}
</style>
